[0;1;32m●[0m caddy.service - Caddy
     Loaded: loaded (/lib/systemd/system/caddy.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Thu 2023-09-21 02:44:44 UTC; 13h ago
       Docs: https://caddyserver.com/docs/
   Main PID: 154098 (caddy)
      Tasks: 9 (limit: 18674)
     Memory: 23.6M
        CPU: 2.035s
     CGroup: /system.slice/caddy.service
             └─154098 /usr/bin/caddy run --environ --config /etc/caddy/Caddyfile

Sep 21 09:23:57 Jeffextra caddy[154098]: {"level":"error","ts":1695288237.5251653,"logger":"http.log.error","msg":"EOF","request":{"remote_ip":"188.43.136.41","remote_port":"18469","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"],"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"]}},"duration":222.716435806,"status":502,"err_id":"ct37sdck9","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 09:29:02 Jeffextra caddy[154098]: {"level":"error","ts":1695288542.114282,"logger":"http.log.error","msg":"read tcp 127.0.0.1:58954->127.0.0.1:7000: read: connection reset by peer","request":{"remote_ip":"188.43.136.41","remote_port":"11340","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"]}},"duration":9.053482085,"status":502,"err_id":"8q0zs7pcx","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 09:34:36 Jeffextra caddy[154098]: {"level":"error","ts":1695288876.624441,"logger":"http.log.error","msg":"read tcp 127.0.0.1:49478->127.0.0.1:7000: read: connection reset by peer","request":{"remote_ip":"188.43.136.41","remote_port":"58153","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"],"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"]}},"duration":76.739529424,"status":502,"err_id":"5hdk0f87m","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 09:42:27 Jeffextra caddy[154098]: {"level":"error","ts":1695289347.6018112,"logger":"http.log.error","msg":"read tcp 127.0.0.1:50632->127.0.0.1:7000: read: connection reset by peer","request":{"remote_ip":"188.43.136.41","remote_port":"40631","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"]}},"duration":23.231948441,"status":502,"err_id":"yfbhsdhhh","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 09:42:27 Jeffextra caddy[154098]: {"level":"error","ts":1695289347.601811,"logger":"http.log.error","msg":"read tcp 127.0.0.1:33030->127.0.0.1:7000: read: connection reset by peer","request":{"remote_ip":"198.16.70.51","remote_port":"44399","client_ip":"198.16.70.51","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Cache-Control":["max-age=259200"],"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"],"Referer":["http://localhost:3000/"]}},"duration":29.809475759,"status":502,"err_id":"bjpu854i3","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 09:49:17 Jeffextra caddy[154098]: {"level":"error","ts":1695289757.8615088,"logger":"http.log.error","msg":"EOF","request":{"remote_ip":"188.43.136.41","remote_port":"40631","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"],"Connection":["keep-alive"]}},"duration":230.388867152,"status":502,"err_id":"cinzy7svq","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 10:03:28 Jeffextra caddy[154098]: {"level":"error","ts":1695290608.6836107,"logger":"http.log.error","msg":"read tcp 127.0.0.1:41062->127.0.0.1:7000: read: connection reset by peer","request":{"remote_ip":"188.43.136.41","remote_port":"18209","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"],"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"]}},"duration":79.787086026,"status":502,"err_id":"vrkmm3yku","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 10:03:28 Jeffextra caddy[154098]: {"level":"error","ts":1695290608.6836104,"logger":"http.log.error","msg":"EOF","request":{"remote_ip":"188.43.136.41","remote_port":"14972","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"]}},"duration":233.745017466,"status":502,"err_id":"wnqg9bk4m","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 10:03:28 Jeffextra caddy[154098]: {"level":"error","ts":1695290608.6836102,"logger":"http.log.error","msg":"EOF","request":{"remote_ip":"188.43.136.41","remote_port":"41813","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"],"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"]}},"duration":299.318775137,"status":502,"err_id":"mpz9294q3","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
Sep 21 10:03:28 Jeffextra caddy[154098]: {"level":"error","ts":1695290608.6836104,"logger":"http.log.error","msg":"EOF","request":{"remote_ip":"188.43.136.41","remote_port":"63091","client_ip":"188.43.136.41","proto":"HTTP/1.1","method":"GET","host":"188.34.206.205:5001","uri":"/get-info","headers":{"Referer":["http://localhost:3000/"],"Accept-Encoding":["gzip, deflate"],"Accept-Language":["en-US,en;q=0.9"],"Connection":["keep-alive"],"Accept":["application/json, text/plain, */*"],"User-Agent":["Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"],"Origin":["http://localhost:3000"]}},"duration":239.994332998,"status":502,"err_id":"60i4dsxdk","err_trace":"reverseproxy.statusError (reverseproxy.go:1248)"}
